@{
    ViewBag.Title = "O autoru";
}
<h3>@ViewBag.Message</h3>

<address>
    Ja sam Lazar Stojanovic, najbolji Web programEr u ovoj Generaciji EIT.<br />
    Vucak, Majke Jugovica 99<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Elektronska pošta:</strong>   <a href="mailto:lakivebprogramEr@gmail.com">lakivebprogramEr@gmail.com</a><br />
</address>